.product-detail-fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  gap: 2.5rem; 
}

.image-zoom-container {
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-zoom-img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.product-detail-title {
  color: black;
  margin-top: 2rem;
  font-size: 2.5rem;
  text-align: center;
}